/**
*RESET
*/

html {
      box-sizing: border-box;
      background:#ffc600;
      font-family:'arial';
      font-size: 20px;
      font-weight: 200;
    }
    body {
      margin: 0;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    .panels {
      min-height:100vh;
      overflow: hidden;
      display: flex;
    }
    .panel {
      background:#6B0F9C;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      color:white;
      text-align: center;
      align-items:center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size:cover;
      background-position:center;
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      
    }


.panel:nth-child(1) { background-image: url(https://images.unsplash.com/reserve/unsplash_528b27288f41f_1.JPG?dpr=1&auto=compress,format&fit=crop&w=991&h=661&q=80&cs=tinysrgb&crop=&bg=);}
.panel:nth-child(2) {background-image: url(https://images.unsplash.com/photo-1490129811213-02a6f2df1c35?dpr=1&auto=compress,format&fit=crop&w=991&h=661&q=80&cs=tinysrgb&crop=&bg=);}
.panel:nth-child(3) {background-image: url(https://images.unsplash.com/photo-1487640228478-7a32e30a9e40?dpr=1&auto=compress,format&fit=crop&w=991&h=661&q=80&cs=tinysrgb&crop=&bg=);}
.panel:nth-child(4) {background-image: url(https://images.unsplash.com/photo-1489429441170-540010745563?dpr=1&auto=compress,format&fit=crop&w=991&h=1486&q=80&cs=tinysrgb&crop=&bg=);}
.panel:nth-child(5) {background-image: url(https://images.unsplash.com/photo-1496438296155-bd1e7ece2b0b?dpr=1&auto=compress,format&fit=crop&w=991&h=661&q=80&cs=tinysrgb&crop=&bg=);}




.panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .panel >*:first-child{ transform: translateY(-100%);}
    .panel.open-active > *:first-child {transform: translateY(0);}
    .panel >*:last-child{ transform: translateY(100%);}
    .panel.open-active > *:last-child {transform: translateY(0);}

    .panel p {
      text-transform: uppercase;
      font-family: 'arial';
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }
    .panel p:nth-child(2) {
      font-size: 4em;
    }
    .panel.open {
       flex:5;
      font-size:40px;
     
    }
